<footer>
    <h1>Ballare Dance</h1>

     <div class="footer-container">
        <div class="footer-redes-sociales">
            <h2>Redes Sociales</h2>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">TikTok</a></li>
                <li><a href="#">WhatsApp</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>

        <h2>Mas informacion</h2>

        <div class="footer-informacion">
            
            <div class="footer-contacto">
                <h3><a href="contacto.html">Contacto</a></h3>
            </div>

            <div class="footer-faq">
                <h3><a href="faq.html">Preguntas Frecuentes</a></h3>
 
            </div>
        </div>

    </div>

     <span>Todos los Derechos Reservados &copy;</span>
</footer>