<h3 class="category-title">Ropa</h3>
<div class="row">
  {{#each galeriaHombres.ropa}}
    {{>card this}}
  {{/each}}
</div>

<h3 class="category-title mt-4">Zapatos</h3>
<div class="row">
  {{#each galeriaHombres.zapatos}}
    {{>card this}}
  {{/each}}
</div>


<h3 class="category-title mt-4">Suspensores</h3>
<div class="row">
  {{#each galeriaHombres.Suspensores}}
    {{>card this}}
  {{/each}}
</div>

<h3 class="category-title mt-4">Mallas</h3>
<div class="row">
  {{#each galeriaHombres.Mallas}}
    {{>card this}}
  {{/each}}
</div>
