<div class="gallery-card">
  <div class="gallery-image-wrapper">
    <img src="{{img}}" alt="{{title}}" class="gallery-img">
    <div class="gallery-overlay">
      <button class="btn-gallery">Ver Detalles</button>
    </div>
  </div>
  <div class="gallery-info">
    <h3>{{title}}</h3>
    <p>{{subtitle}}</p>
  </div>
</div>
