<header>
    <picture>
        <img src="/galeria/Ballare Dance Boutique.png" alt="Ballere Logo"/>
    </picture>

    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li>
                <select> 
                    <option value="Galeria"><a href="#">Galeria</a></option>
                    <option value="Galeria Hombres"><a href="hombre.html">Hombres</a></option>
                    <option value="Galeria Mujeres"><a href="mujer.html">Mujeres</a></option>
                </select>
            </li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Testimonios</a></li>
        </ul>
    </nav>
</header>

