<header class="site-header">
	<div class="site-branding">
		<a href="/" class="site-title">Ballare</a>
	</div>
	<nav class="site-nav">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/galeria.html">Galería</a></li>
			<li><a href="/contacto.html">Contacto</a></li>
		</ul>
	</nav>
</header>
