<header>
    <picture>
        <img src="/galeria/Ballare Dance Boutique.png" alt="Ballere Logo"/>
    </picture>

    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="galeria.html">Galeria</a></li>
            <li><a href="hombre.html">Hombres</a></li>
            <li><a href="mujere.html">Mujeres</a></li>
            <li><a href="acerca.html">Acerca de nosotros</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="testimonios.html">Testimonios</a></li>
        </ul>
    </nav>
</header>

