<section class="hero_panel" style="background-image: url('imagenes/fondo.png');">
  <div class="hero-content">
    <h1 class="hero-title">{{title}}</h1>
    <p class="hero-subtitle">{{subtitle}}</p>
    
    <div class="hero-cards-container">
        <a href="#Mision" class="card">
            <h3 class="card-title">Misión 🩰</h3>
            <p class="card-description">En Ballare Dance Boutique transformamos la danza en una experiencia de excelencia y cuidado. 
Brindamos productos de la más alta calidad y asesoría especializada, asegurando que cada bailarina 
encuentre el calzado perfecto para prevenir lesiones y potenciar su rendimiento. 
Somos más que una tienda: somos un espacio de crecimiento, inspiración y profesionalismo, 
comprometidos con elevar la danza en Honduras, introduciendo marcas internacionales, promoviendo 
educación continua y fortaleciendo la comunidad dancística.</p>
        </a>
        
        <a href="#Vision" class="card">
            <h3 class="card-title">Visión ✨</h3>
            <p class="card-description">Ser la boutique de danza líder en Centroamérica, reconocida por su innovación, calidad y 
responsabilidad social. Queremos posicionar a Honduras en el mapa mundial de la danza, creando 
oportunidades para cada bailarina, apoyando el talento emergente y construyendo un legado donde la 
disciplina, la pasión y la técnica se encuentren con la excelencia.</p>
        </a>

        <a href="#compromiso" class="card">
            <h3 class="card-title">Nuestro Compromiso 👯♀️</h3>
            <p class="card-description">Cada bailarina que cruza nuestras puertas es nuestra prioridad. Nos dedicamos a cuidar su bienestar 
físico y artístico, ofreciendo mediciones profesionales de puntas, asesoría personalizada y acceso a 
marcas internacionales de élite, como Gaynor Minden, que por primera vez en la historia de América, 
llegó a Honduras gracias a nuestra gestión. 

Nuestra fundadora, Breidy Valladares, fue nombrada Embajadora Oficial de Gaynor Minden en 
Honduras, un reconocimiento que refleja nuestro impacto y liderazgo en la danza nacional. 
</p>
        </a>
    </div>
    <p class="hero-tagline">
       En Ballare, no solo vendemos productos: transformamos vidas, construimos comunidad y elevamos la danza en Honduras a estándares internacionales.
    </p>

  </div>
</section>